<html>
    <head>
        <meta charset="utf-8">
        <title>CRUD Express-Mongo</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>TODO List</h1>
        <h3>[Express-Mongo]</h3>

        <form action="/tasks" method="post">
            <input name="content" autofocus>
            <input type="submit" value="Add Task">
        </form>


        <% if( tasks.length > 0 ) { %>
            <table border=1px>
                <thead>
                    <th>content</th>
                    <th>done</th>
                    <th>likes</th>
                    
                </thead>
                
                <tbody>
                    
                    <%for (task of tasks) {%>
                        <tr task_id="<%= task._id %>" class="row">
                            <td class="content"><%= task.content %></td>
                            
                            <td class="state"><%= task.done %></td>
                            
                            <td>
                                <%= task.likes %>
                            </td>
                            
                            <td><button id=<%= task._id %>
                                onclick="deleteTask(this)">
                                delete
                                </button>
                             </td>
                        
                        <td><button id=<%= task._id %>
                                    onclick="openEditor(this)">
                             edit
                            </button>
                        </td>
                        
                        <td>
                            <button task_id="<%= task._id %>"
                               onclick="addLike(this)" >
                               like
                            </button>
                        </td>     
 
                        <td>
                             <button onclick="upRow(this)" >
                                up
                             </button>
                         </td>     

                         <td>
                            <button onclick="downRow(this)" >
                               down
                            </button>
                        </td>     


                        <td>
                           <input type="checkbox" task_id="<%= task._id %>"
                                  state="<%=task.done%>"
                                  onclick="toggleState(this)" >
                        </td>     


                     


                    </tr>
               <%}%>
               
            </tbody>
            </table>

        <%} else {%>
            <h3> Ops!! Not Task Yet. Add The First Task </h3>
        <% } %>


        <script src="main.js"></script>

        
    </body>
</html>
